.filter-container {
    display: flex;
    margin-bottom: 35px;
    padding: 0;
}

.label-filter {
    display: flex;
    padding-right: 15px;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.filter-button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 20px;
    border: 2px solid #F2F2F2;
    border-radius: 40px;
    background-color: white;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
}

.filter-button i {
    padding-right: 8px;
    object-fit: contain;
}

.filter-button:hover {
    background-color: #DEEBFF;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .filter-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .filters {
        width: 100%;
        padding-top: 20px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {}