.form-search {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 377px;
    margin-bottom: 35px;
    margin-top: 35px;
}

.left-search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-search-bar>i {
    background-color: #F2F2F2;
    width: 50px;
    height: 50px;
    border-radius: 15px 0 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}

input[type="search"] {
    box-decoration-break: unset;
    border-bottom: .1em solid #F2F2F2;
    border-top: .1em solid #F2F2F2;
    border-left: none;
    border-right: none;
    width: 100%;
    padding: 5px 16px 5px 16px;
    font-size: 1.1em;
}

input::placeholder {
    text-align: center;
    color: #000000;
    font-weight: bold;
}

.form-search>input[type="button"] {
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 0 15px 15px 0;
    padding: 5px 16px 5px 16px;
    font-weight: bold;
    font-size: 1.1em;
}

.button-search {
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px 16px 5px 16px;
    font-weight: bold;
    font-size: 1.1em;
    display: none;
}

input[type="button"]:hover {
    background-color: #DEEBFF;
    color: #000000;
    cursor: pointer;
}

.info-container>span {
    display: block;
}

.info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap: 10px;
    margin-bottom: 35px;
}

.info-container>i {
    display: flex;
    align-items: center;
    justify-content: center;
    border: .1em solid #F2F2F2;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    flex-grow: 0;
    flex-shrink: 0;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .form-search {
        width: 100%;
        position: relative;
    }

    .button-search {
        width: 52px;
        height: 52px;
        display: block;
        box-shadow: 0px 4px 4px 0px #00000025;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    input[type="search"] {
        width: calc(100% - 80px);
    }

    .button-search i {
        color: #FFFFFF;
    }

    .form-search>input[type="button"] {
        display: none;
    }
}