@import url("filterBar.css");
@import url("footer.css");
@import url("navBar.css");
@import url("searchbar.css");
@import url("activityCards.css");
@import url("populairesCards.css");
@import url("hebergementCards.css");

/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 8px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 1.35em;
    padding-bottom: 5px;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header-container>span {
    display: block;
    font-size: 1em;
}

.section-title {
    margin: 0;
    font-size: 1.35em;
}


/******* Cards style *******/
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 1em;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    body {
        margin: 0;
        padding: 0;
    }

    .main-container {
        padding: 0;
    }

    .header-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        min-width: 375px;
    }

    /* ... */
}