/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

h2 {
    font-size: 17px;
}
/*Css du nav*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 80px;
    height: 100px;
}

#logoSite {
    max-width: 62px;
    width: 100%;
    max-height: 20px;
    height: 100%;
}

#listeNav {
    display: flex;
    list-style: none;
    gap: 68px;
}

a.lienNav:hover {
    color: #0065FC;
    border-top: #0065FC solid 2px;
    padding-top: 37px;
}

/* Css du titre h1 + le p */
#titreDescriptionHeader h1 {
    font-size: 22px;
}

#titreDescriptionHeader{
    gap: 8px;
}

/* Css de la zone de recherche */
div#zoneRecherche {
    margin-top: 35px;
    display: flex;
    width: 377px;
    height: 49px;
    border: 1px #f2f2f2 solid;
    border-radius: 15px;
    background-color: white;
    align-items: center;
}

/* Css pour l'arrière du logo Localisation */
div#backgroundLocationDot {
    display: flex;
    max-width: 50px;
    width: 100%;
    max-height: 49px;
    height: 100%;
    border: 1px #F2F2F2 solid;
    background: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    align-items: center;
    justify-content: center;
}

/* Css pour le logo Localisation en Noir*/
i.fa-solid.fa-location-dot {
    color: black;
    width: 14px;
    height: 18px;
    font-size: 16px;
}

/* Zone de texte du formulaire de recherche */
#formulaire {
    display: flex;
}

#villeRecherchée {
    width: 195px;
    background-color: white;
    border: none;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
}

/* Css pour le Bouton rechercher */
#boutonRechercher {
    color: white;
    width: 132px;
    font-size: 18px;
    background-color: #0065FC;
    padding: 15px 16px 15px 16px;
    gap: 10px;
    border: 1px #0065FC solid;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: 700;
}

#boutonRechercher:hover {
    color: #0065FC;
    background-color: #DEEBFF;
    border: 1px #F2F2F2 solid;
}

/* Css de la liste filtre */
#listeFiltre {
    display: flex;
    padding: 0px;
    list-style: none;
    gap: 15px;
    align-items: center;
    max-height: 50px;
    height: 100%;
    max-width: 758px;
    width: 100%;
    margin-top: 35px;
}



#listeFiltre .card {
    display: flex;
    align-items: center;
    justify-content: center;
    border:  2px solid #D9D9D9;
    border-radius: 50px;
    padding: 4px 19px 4px 19px;
    gap: 10px;
    
}
#listeFiltre .card:hover {
    color: #0065FC;
    background-color: #DEEBFF;
}

/* Css parti information */
#information {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: baseline;
    font-size: 16px;
    width: 100%;
    max-height: 24px;
    height: 100%;
    margin-bottom: 35px;
    margin-top: 35px;
}

div#imgInformation {
    display: flex;
    width: 24px;
    height: 24px;
    border: 1px #D9D9D9 solid;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
}

/* Css pour herbergements  */

.hebergements-cards {
    width: 811px;
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 250px 207.25px;
    justify-content: center;
    margin: none;
    justify-content: center;
}

/* Cards de Hébergements */
.hebergements-cards .card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 4px;
    padding-bottom: 15px;
    border-radius: 20px;
    background-color: white;
    
}
.hebergements-cards a {
    width: 250px;
    height: 207.25px;
}


.hebergements-cards .card-content {
    height: 64px;
    padding-right: 15px;
    padding-left: 15px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card img {
    width:100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 5px white solid;
}

.hebergements-cards .card-title {
    width: 100%;
    height: 19px;
    margin: 0;
}

.hebergements-cards .card-subtitle {
    margin: 0;
    font-size: 14px;
    height: 16px;
}

.hebergements-cards .card-txt {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hebergements-cards .card-rating {
    width: 100%;
    height: 13.25px;
}

#afficherPlus p {
    margin: 0;
    height: 21px;
    font-size: 18px;
    font-weight: 700;
}

/* Section activtés Marseille */
.activites {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
}

.activites h2 {
    width: 100%;
    height: 30px;
}

.activites ul {
    margin: 0;
    padding: 0;
    width: 1280px;
    width: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
}

.activites .card {
    width: 297.5px;
    height: 439px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px #0000001A;
    padding: 0;
}
.activites img {
    width: 297.5px;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites .card-txt {
    width: 297.5px;
    width: 100%;
    height: 59px;
    margin: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0px 19px;
}
.activites .card-title {
    width: 259.5px;
    height: 19px;
}

/* Footer */
#mainListeFooter {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    width:100%;
    border-radius: 15px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
}

.lowerListeFooter {
    list-style: none;
    margin: 0;
    gap: 15px;
    padding: 20px;
    width: 446.67px;
    width: 100%;
    height: 100%;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    border-radius: 15px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}